html {
    box-sizing: border-box;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 80px;
    color: rgb(83, 83, 83);
}

h2 {
    color: rgb(83, 83, 83);
}

h3 {
    color: rgb(83, 83, 83);
    font-size: 1.2em;
    font-weight: 400;
}

#home {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    background-color: white;
    height: 64px;
    margin: 0 24px; 
}

nav {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-size: 1.3em;
}

nav ul li a {
    text-decoration: none;
    padding: 16px;
    color: rgb(32, 32, 32);
    transition: 500ms linear;
}

nav ul li a:hover {
    text-decoration: none;
    color: gray;
}

.logo {
    position: absolute;
    margin: auto 0;
    width: 420px;
    height: 64px;
    padding: 14px 0;
}

.logo .text p {
    margin: 0 0;
}
    
.logo .text {
    left: 35px;
    position: absolute;
    font-size: 1.6em;
    font-weight: 700;
    max-height: 32px;
}

.logo .logoimage {

    width: 40px;
    height: 42px;
    position: absolute;
}

.logo .logoimage img {
    top: -5px;
    height: 42px;
    position: absolute;
}

.gray {
  color: gray;  
}

.background_gray {
    background-color: rgb(204, 204, 204);
}

.container {
    display: flex;
    flex-direction: column;
    height: 2500px;
}

.section {
    box-sizing: border-box;
    padding: 32px 24px;
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 800px;
    display: inline-flex;
    justify-content: flex-start;
}

.section .image {
    overflow: hidden;
    width: 60%;
    height: auto;
}

.section .image img {
    height: auto;
    width: 100%;
}

.section .text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 40%;
    color: rgb(83, 83, 83);
}

.wider {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.column {
    box-sizing: border-box;
    height: 33%;
    width: 100%;
    border: 1 solid rgb(43, 43, 43);
    display: flex;
    padding: 20px;
}

.column .text {
    padding: 15px;
    width: 65%;
    height: auto;
}

.smallimage {
    width: 35%;
    height: auto;
}

.smallimage img {
    width: 100%;
    height: auto;
}

.section .text h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(83, 83, 83);
    margin-bottom: 80px;
}

.section .text .button {
    width: 98%;
    padding: 25px 0;
    font-size: 1.7em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 83, 83);
    display: inline-block;
    text-align: center;
    font-size: 1.7em;
    text-decoration: none;
    transition: 600ms linear;
}

.section .text .button:hover {
    color: rgb(211, 211, 211);
    background-color: rgb(88, 88, 88);
}
/* Id just for padding, for class="image" */
#nonpadding {
    padding-top: 0;
}

.whitesection {
    background-color: rgb(253, 253, 253);
    height: 900px;
    width: 100%;
}

.whitesection .image {
    overflow: hidden;
    width: 60%;
    height: auto;
    padding-top: 20px;
}

.whitesection h1 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 3em;
}

.whitesection h2 {
    font-size: 1.4em;
    font-weight: 400;
}

.whitesection .column .text h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.whitesection .column .text h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.whitesection .column .text h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.fa.fa-check {
    font-size: 22px;
}