html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: white;
    height: 64px;
    margin: auto 24px;
    

}

nav {
    float: right;

}

nav ul li {
    display: inline;;
}

.logo {
    width: 420px;
    height: 64px;
    display: flex;
    align-items: center;
}

.logo .text {
    font-size: 1.5em;
    font-weight: 700;
}

.logo .logoimage {
    display: flex;
    align-items: center;
    height: auto;
}

.logo .logoimage img {
    height: 32px;
}

.gray {
  color: gray;  
}

.container {
    background-color: rgb(201, 201, 201);
    height: 1000px;
}