body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 64px;
    background-color: white;
}

nav {
    position: relative;
    float: right;
    margin-right: 24px;
}

.logo {
    margin-left: 24px;
    height: 32px;
    position: relative;
}

.gray {
  color: gray;  
}